doctype html
head
  title Boomertest
  link(href='styles.scss' rel='stylesheet')
body
  #main
    h1 Welcome to boomertest.
    p
      | Basically just a political compass for how, doomer / bloomer and zoomer / boomer you are.
      br
      | If you do not understand what this means, you have about 6 years of internet to catch up on.
    img(src='compass.png' style='width:50vh;height:50vh;')
    input#startButton(type='button' value='Start test')
  #questions
    h2#questionNumber
    p#questionContents
    input(type='radio' name='question' value='yes')
    |  Yes
    br
    input(type='radio' name='question' value='idk')
    |  I don&apos;t know / no opinion
    br
    input(type='radio' name='question' value='no')
    |  No
    br
    input#prevQuestion(type='button' value='Prev question')
    input#nextQuestion(type='button' value='Next question')
  #results
    h2 Your result is.
  p Want to help this project?
  a(href='https://gitlab.com/dyl000/boomertest') Gitlab page
  script(src='index.ts')
