@import "./quicksand.css";

body {
  background-color: lightblue;
  font-family: "Quicksand", sans-serif;
  margin: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
